<h1>New Creature</h1>

<%= form_for @creature do |t| %>
  <div>
    <%= t.label :name %>
    <%= t.text_field :name %>
  </div>

  <div>
    <%= t.label :description %>
    <%= t.text_area :description %>
  </div>

  <%= t.submit %>
<% end %>
